body{
  background-image: url(tableBackground.png);
  background-size:cover;
}
.user{
  position:relative;
  display: block;
   margin: auto;
   width: 40%;

}
.dealer{
  position:relative;
  display: block;
   margin: auto;
   width: 40%;
}
.img1{
  position:absolute; top: 90px; right: 98%;z-index: 1;
}
.img2{
  position:absolute; top: 130px; right: 95%;z-index: 3;
}
.img3{
  position:absolute; top: 90px; left: 98%; z-index: 1;
}
.img4{
  position:absolute; top: 130px; left: 95%; z-index: 3;
}
.img5{
  position:absolute; top: 120px; left: 105%; z-index: 3;
}
.img6{
  position:absolute; top: 180px; left: 98%; z-index: 3;
}
.result{
  text-align: center;
  color: red;
  font-family: Tahoma, Arial, sans-serif;
  position:absolute;
  bottom: 50%;
  left:42%;

}
#dealer{
  position:absolute;top: 280px;right: 100%;z-index: 1;
  color: white;
  border: 1px solid green;
  font-family: Tahoma, Arial, sans-serif;
  border-radius: 20px;
  padding: 10px;
}
 #player{
  position:absolute;top: 280px;left: 100%;z-index: 1;
  color: white;
  border: 1px solid green;
  font-family: Tahoma, Arial, sans-serif;
  border-radius: 20px;
  padding: 10px;
}
img{
  display: block;
   margin: auto;
   width: 20%;
   position: static;
}
.title{
font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  font-size: 50px;
    text-shadow: .04em .04em 0 green;
    color:white;
    text-decoration: underline;
}

.hello{
  position: absolute;
bottom: 20px;
margin-right: auto;
margin-left: auto;
left: 0px;
right: 0px;
}
.container {
  width: 35%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-clip: padding-box;
  text-align: center;

}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popupMenu {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popupMenu h2 {
  margin-top: 0;
  color: #333;
  font-family: "Times New Roman", Georgia, Serif;
}
.popupMenu .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popupMenu .close:hover {
  color: #06D85F;
}
.popupMenu .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .container{
    width: 70%;
  }
  .popupMenu{
    width: 70%;
  }
}
